* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    background-image: url(./leaf.jpg);
    width: 100%;
    height: auto;
    background-size: conver;
    background-attachment: fixed;
}

.header {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    color: white;
}

.title {
    font-size: 35px;
    font-family: verdana;
    margin: 0px;
}

.appreciate {
    font-size: 20px;
    font-family: verdana;
    margin: auto;
}

.container {
    background-color: #2c2c4a;
    color: white;
    font-family: verdana;
    width: 50%;
    margin: auto;
    padding: 30px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 18px;
}

.row {
    margin-top: 15px;
}

input[type=name],
input[type=email],
input[type=number], 
select {
    padding: 10px;
    width: 100%;
    font-family: verdana;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}
option{
    font-family: verdana;
    font-size: 18px;
}
span {
    font-size: 12px;
}
textarea{
    width: 100%;
    height: 150px;
    resize: none;
    border-radius: 4px;
    margin-top: 5px;
}
::placeholder{
    font-family: verdana;
    font-size: 16px;
}
input[type=submit]{
    background-color: aqua;
    font-family: verdana;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}
.lineheight{
    line-height: 1.7;
}
@media only screen and (max-width:500px) {
    .container{
        font-size: 15px;
    }
}